.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* src/App.css */

/* Melhora o destaque da aba ativa no Material-UI */
.MuiTabs-indicator {
  height: 3px !important; /* Deixa a linha indicadora mais grossa */
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.MuiTab-root {
  text-transform: none !important; /* Texto das abas em formato normal, não maiúsculo */
  font-weight: 600 !important;
}